body{
	background-image: url(../img/hero.webp);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:00px 700px;
	margin: 50;
	background-attachment: scroll;

	
	
	
}
