body{
	background-image: url(fondo.jpg),url(hero.webp);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:00px -200px;
	margin: 50;
	background-attachment: scroll;
	

	
	
	
}

  